<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.fluxnet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fluxnet</name>
    <description>Fluxnet is a powerful, free inventory management app designed for small businesses. Streamline your stock control, enhance accuracy, and save time with our intuitive solution.</description>
    <author email="fluxnetapp@gmail.com" href="https://fluxnet.com.ng/">
        Fluxnet Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
